<section class="main">
  <div *ngIf="currentVideo" id="video-wrapper" #videoWrapper [asHover]="controls">
    <div id="player-wrapper"  [ngClass]="{'full-screen': isFullScreen}">
      <video
        id="main-video"
        #mainVideo
        [poster]="posterUrl">
        <source [src]="currentVideo.safeUrl" [type]="currentVideo.type">
        Your browser does not support the video tag.
      </video>
      <div id="video-settings">
        <as-player-settings
          [playerSettings]="playerSettings" 
          (repeatVideoClickEventHandler)="repeatCurrentVideo()"
          (repeatPlaylistClickEventHandler)="repeatPlaylist($event)"
          (shufflePlayClickEventHandler)="shufflePlay($event)">
        </as-player-settings>
      </div>
    </div>
    <div id="video-controls" [ngClass]="{hover: controls.isHover}">
      <div>
        <i *ngIf="!currentVideo.controls.played" (click)="playVideo()" class="fa fa-play vc-main" aria-hidden="true"></i>
        <i *ngIf="currentVideo.controls.played" (click)="pauseVideo()" class="fa fa-pause vc-main" aria-hidden="true"></i>
        <i (click)="stopVideo()" class="fa fa-stop vc-main" aria-hidden="true"></i>
        <i (click)="changeStatePlayerSettings()" class="fa fa-cog" aria-hidden="true"></i>
        <i *ngIf="!isFullScreen" (click)="toggleFullScreen()" class="fa fa-arrows-alt" aria-hidden="true"></i>
        <i *ngIf="isFullScreen" (click)="toggleFullScreen()" class="fa fa-compress" aria-hidden="true"></i>
      </div>
    </div>
    <div id="video-state">
      <i *ngIf="currentVideo.controls.played && !currentVideo.controls.stopped" class="fa fa-play" aria-hidden="true"></i>
      <i *ngIf="!currentVideo.controls.played && !currentVideo.controls.stopped" class="fa fa-pause" aria-hidden="true"></i>
      <i *ngIf="currentVideo.controls.stopped" class="fa fa-stop" aria-hidden="true"></i>
    </div>
  </div>
</section>
