<div class="progress-bar-wrapper" (click)="changeVideoTimeStamp($event)" #progressBarWrapper [appHoverPosition]="mousePosition">
  <div class="hover-bar" [style.width.%]="mousePosition.x">

  </div>
  <div class="buffered-bar" [style.width.%]="percentageBufferedVideo">

  </div>
  <div class="progress-bar">
    <div class="percentage-bar" [style.width.%]="percentageCurrentTime">

    </div>
    <div class="time-stamp-wrapper">
      <i class="fa fa-circle time-stamp" aria-hidden="true" (click)="stopPropagation($event)"></i>
    </div>
  </div>
</div>
