@import 'bootstrap';
@import 'variables';
@import 'mixins';
@import 'functions';
@import 'fonts';
@import 'overrides';
@import 'module';
@import 'video-player';
@import 'player-settings';
@import 'materialize-colors';


.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  justify-content: center;
  background-color: #000;
}
