@import 'bootstrap';
@import 'variables';
@import 'mixins';
@import 'functions';
@import 'fonts';
@import 'overrides';
@import 'module';
@import 'video-player';
@import 'player-settings';
@import 'materialize-colors';
@import 'player-progress-bar';
@import 'video-duration';
@import 'videos-sidebar';
@import 'video';
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  line-height: 0;
  background-color: #F1F1F1;
}

#content {
  display: flex;
  max-width: 1066px;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  justify-content: center;
  background-color: #000;
  width: 640px;
}

#video-wrapper .full-screen {
  #main-video {
    max-width: 100%;
  }
}
