$progress-bar-height: 4px;

.progress-bar {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: $progress-bar-height;
  background-color: rgba(255, 255, 255, 0.3);
}

.progress-bar:hover {
  margin-top: -1px;
  height: $progress-bar-height + 2px;
}