<ng-container *ngFor="let video of videos; let i = index" >
  <div class="video pointer" *ngIf="video !== currentVideo" (click)="selectVideo(i)">
    <div class="poster">
      <img src="{{ video.poster }}" [alt]="video.name" width="168px" height="94px">
      
    </div>
    <div class="info">
      <span class="title">{{ video.name }}</span>
      <span class="channel">{{ video.channel }}</span>
      <span class="views">{{ video.views | numberSpacing }} {{ 'VIDEOS.VIEWS' | translate }}</span>
    </div>
  </div>
</ng-container>